<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat Well</title>
</head>
<body>
<h1>Eat Well</h1>
<form action="/recipe" th:object="${recipe}" method="POST">
    Recipe: <input type="text" th:field="*{recipeTitle}"/>
    Ingredients: <input type="text" th:field="*{ingredients}"/>
    <input th:if="${id != null}" type="hidden" th:field="*{id}"/>
    <input type="submit" value="Save recipe">
</form>
<table><tr th:text="${recipe.ingredients}"></tr></table>
</body>
</html>